# TEMPLATE - replace <APP_NAME> and <APP_DESCRIPTION>.
[Unit]
Description=<APP_DESCRIPTION>
Wants=network-online.target
After=network-online.target postgresql.service

[Service]
Type=simple
User=jvmapps
Group=appmgr
WorkingDirectory=/opt/dks/<APP_NAME>
EnvironmentFile=/opt/dks/<APP_NAME>/config/webApp.env
ExecStart=/opt/dks/<APP_NAME>/startWebApp.sh
Restart=on-failure
RestartSec=5
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
